body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.productos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

.producto img {
    max-width: 100px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.producto p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.producto button,
#carrito button {
    transition: background-color 0.3s ease;
}


.producto button:hover {
    background-color: #218838;
}

#carrito {
    background-color: #fdfd96;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#carrito p {
    font-size: 1rem;
    color: #555;
}

#carrito button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0 5px;   
    
}

#carrito button {
    display: inline-block;
    margin: 0; /* Eliminar margen extra */
}

#carrito button:hover {
    background-color: #0056b3;
}


#total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .producto {
        width: 100%;
    }
}


/* Añadir al final de style.css */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: auto;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

